.root__section_margins_45-0-40-0 {
    margin-top: 45px;
    margin-bottom: 40px;
}

@media screen and (max-width: 615px) {
    .root__section_margins_45-0-40-0 {
        margin-top: 28px;
        margin-bottom: 42px;
    }
}